# This is your Caddy configuration. This default config
# opens a port and serves a static site from the www folder.
# Edit this file according to your needs.

# Remember, Railway terminates TLS before it gets to Caddy.
#:8080
#
#root /www
#file_server

{
    auto_https off
}

pds.thewestwoods.us:8080 {
    reverse_proxy http://pds-server.railway.internal:3000
}

samwestwood.me:8080 {
    respond /.well-known/atproto-did "did:plc:ijumpgpxyi6z5f53dz7panhh" 200
}
